# Jiaming

# 1 Base Python

In [1]:
sec_in_year = 60*60*24*365
print(sec_in_year)
human_sec = sec_in_year*80
print(human_sec)
my_sec = sec_in_year*19
print(my_sec)
new_var = "new variable"
print(new_var)
gre_700 = my_sec > 700000000
print(gre_700)

31536000
2522880000
599184000
new variable
False

In [2]:
movies = ["A Better Tomorrow", "Forrest Gump", "The Terminal", "Infernal Affairs", "Harry Porter", "Pride and Prejudice"]
print(movies)

['A Better Tomorrow', 'Forrest Gump', 'The Terminal', 'Infernal Affairs', 'Harry Porter', 'Pride and Prejudice']

In [3]:
movie_f3 = movies[0:3]
print(movie_f3)

['A Better Tomorrow', 'Forrest Gump', 'The Terminal']

In [4]:
movie_22 = movies[0:2] + movies[-2:]
print(movie_22)

['A Better Tomorrow', 'Forrest Gump', 'Harry Porter', 'Pride and Prejudice']

In [5]:
numbers = []
for i in range(70, 80):
    numbers.append(i)
print(numbers)
    
total = 0
for x in numbers:
    total = total + x
mean = total/len(numbers)
print(mean)

sum100 = 0
for i in range(101):
    sum100 = sum100 + i
print(sum100)
    
time100 = 1
for i in range(100):
    time100 = time100 * (i+1)
print(time100)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79]
74.5
5050
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [6]:
str = """Create a word frequency table using dicts that take a looong string (feel free to copy-paste some text
here), splits it into individual words, and counts the number of occurrencies of each word (and prints
the result). Let's ignore punctuation. Your code should run over individual words and increase the
counter for that word, stored in a list. It has to check if a word exists in the dictionary, and if not,
take an appropriate action."""

table = str.split()
table = [x.lower() for x in table]
dict = {}
for x in table:
    if (x in dict):
        dict[x] += 1
    else:
        dict[x] = 1
        
print(dict)

{'create': 1, 'a': 4, 'word': 3, 'frequency': 1, 'table': 1, 'using': 1, 'dicts': 1, 'that': 2, 'take': 2, 'looong': 1, 'string': 1, '(feel': 1, 'free': 1, 'to': 2, 'copy-paste': 1, 'some': 1, 'text': 1, 'here),': 1, 'splits': 1, 'it': 2, 'into': 1, 'individual': 2, 'words,': 1, 'and': 3, 'counts': 1, 'the': 4, 'number': 1, 'of': 2, 'occurrencies': 1, 'each': 1, '(and': 1, 'prints': 1, 'result).': 1, "let's": 1, 'ignore': 1, 'punctuation.': 1, 'your': 1, 'code': 1, 'should': 1, 'run': 1, 'over': 1, 'words': 1, 'increase': 1, 'counter': 1, 'for': 1, 'word,': 1, 'stored': 1, 'in': 2, 'list.': 1, 'has': 1, 'check': 1, 'if': 2, 'exists': 1, 'dictionary,': 1, 'not,': 1, 'an': 1, 'appropriate': 1, 'action.': 1}

In [7]:
def hhhh(x):
    hour = x//100
    minute = x%100
    return hour + minute/60

print(hhhh(1015), hhhh(345))

10.25 3.75

# 2

In [8]:
import numpy as np
import pandas as pd

## 2.1

In [9]:
nyc = pd.read_csv("C:/Users/jlin8/Desktop/nycflights13.csv.bz2", sep = "\t")
#load data

## 2.2

In [10]:
nyc.columns
nyc.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z

In [11]:
print(nyc.shape)
#1. There are 336776 flights out of NYC in 2013

(336776, 19)

In [12]:
print(nyc["origin"].value_counts())
#2 There are three NYC airports included, which are EWR, JFK, and LGA

EWR    120835
JFK    111279
LGA    104662
Name: origin, dtype: int64

In [13]:
print(nyc["dest"].value_counts())
#3 There are 105 airports airlines fly from NYC.

ORD    17283
ATL    17215
LAX    16174
BOS    15508
MCO    14082
       ...
MTJ       15
SBN       10
ANC        8
LGA        1
LEX        1
Name: dest, Length: 105, dtype: int64

In [14]:
nyc[nyc["dest"] == "SEA"].shape
#4 There are 3923 flights to Seattle from NYC

(3923, 19)

In [15]:
nyc[nyc["dest"] == "GEG"].shape
#5 There is 0 flight to GEG from NYC

(0, 19)

In [16]:
nyc.arr_delay.median()
#6 The typical delay of the flight is -5 minutes

-5.0

In [17]:
nyc.arr_delay.isnull().sum()
#7 There are 9430 missing values.

9430

In [18]:
#8 for question 6, I choose median delay time to represent typical delay time, but it also could be mean. I think median can better 
# represent the center of a unknown distribution since it affected less by outlier than mean.

## 2.3

In [19]:
den = nyc[nyc["dest"] == "DEN"]
den.shape
#1 There are 7266 flights to Denver from NYC

(7266, 19)

In [20]:
den.carrier.value_counts()
#2,3 There are total five airlines, UA with 3796 flights, WN with 1404 flights, DL with 1043 flights, F9 with 685 flights,
# and B6 with 338 flights

UA    3796
WN    1404
DL    1043
F9     685
B6     338
Name: carrier, dtype: int64

In [21]:
dend = den.dropna()
# transform time to minutes
dp_min = dend["dep_time"]//100 * 60 + dend["dep_time"]%100
ar_min = dend["arr_time"]//100 * 60 + dend["arr_time"]%100
# if planes fly through two days, then add one day time(1440 minutes) at arrival time
for i in range(7169):
    if (dp_min.iloc[i] >= 1000) & (ar_min.iloc[i] <= 400):
        ar_min.iloc[i] = ar_min.iloc[i] + 1440
#calculate the difference
air_min = np.abs(ar_min - dp_min)
print(air_min.mean())
print(dend.air_time.mean())
#4 My calculation of flight time using arrival and departure time is 139.44 minutes and the mean of air_time variable is 226.48 minutes 
# I found there is difference, I think it is because the air_time variable is not arr_time - dep_time

139.43688101548332
226.47872785604687

In [22]:
len(den[den["arr_delay"] > 15])/len(den)
#5 The percentage of delay greater than 15 minutes is 26.26%

0.2625928984310487

## 2.4

In [23]:
plane = pd.read_csv("C:/Users/jlin8/Desktop/planes.csv.bz2", sep = "\t")
#1 load planes data

In [24]:
print(plane.columns)
print(plane.shape)
#1 The variables we have is the output below
#1 We have 3322 planes

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')
(3322, 9)

In [25]:
result = pd.merge(den, plane, on= ['tailnum'])
#2,3 I do a left join and merge key is tailnum. left is den which is subset of nyc dataframes, and right is planes dataframe

In [26]:
len(den) - len(result)
#4 There are 239 flights that we do not have seats information

239

In [27]:
print(result.seats.max())
max_seats = result[result["seats"] == 330]
max_seats = max_seats[["seats", "manufacturer", "model", "year_y"]]
print(max_seats)
#5 Two largest plane are both BOEING 767-322 built in 1998 and 1999 with 330 seats

330
      seats manufacturer    model  year_y
5546    330       BOEING  767-322  1999.0
6964    330       BOEING  767-322  1998.0

1. My greatest concern is about the expression of values are consistent and missing value since I cannot see all of a large data frame.
  From questions about calculate the late times, I can get an idea about how likely a plane will be late from data. The data is good, there is not much missing value compared to the number of rows and expression of values seems consistent.
2. I think I can analyze, for instance, which time period is more likely to be late, or which type of plane usually arrives sooner.
3. About 5 hours